<!DOCTYPE html>
<html>
<head>
<title>To-Do list</title>
<style>
body {
        background-color: #EDBFFA;
    }
.container {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.note {
  width: 300px;
  word-wrap: break-word;
}
</style>
</head>
<body>
  <div class="container">
    <h1>To-Do list</h1>
    <ul>
      {% for note in notes %}
      <li>
        <div class="note">{{ note['content'] }}</div>
        <a href="{{ url_for('delete_note', note_id=note['id']) }}">Delete</a>
      </li>
      {% endfor %}
    </ul>
    <h2>Add new note</h2>
    <form action="{{ url_for('main_page') }}" method="post">
      <input type="text" name="note" placeholder="Enter new note" required>
      <button type="submit">Create</button>
    </form>
  <a href="{{ url_for('logout') }}">Logout</a>
  </div>
</body>
</html>